body
{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#auth{
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	border-radius: 10px;
}



.box h2
{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox
{
	position: relative;
	color: #fff;
}

.box .inputBox a
{
	color:gray;
}

.box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top: -20px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}

.box input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333;
}

.navbar #l-nav li {
	list-style-type: none;
	float: left;
	height: 100%;
}

.navbar ul{
	padding: 0px;
	margin: 0px;
}
.navbar #r-nav li {
	list-style-type: none;
	float: right;
	height: 100%;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	transition: all ease-in 0.1s
}

.navbar li a:hover {
	background-color:#fff;
	color: #111;
	
}
#app-forms-bg{
	background-image: url('../img/app-bg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}

.btn{
	padding: 10px;
	color: gray;
	border-bottom-width: 0px;
	border-radius: 5px;
	margin: 5px;
}

.records{
	list-style: none;
	display: grid;
	grid-template-columns: auto;
	padding: 20px;
	justify-content: center;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	
	width: 500px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
  }
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
  }

  .image-container {
	display: flex;
	justify-content: center;
  }
  .record-image{
	  height: 100%;
	  width: 100%;
  }
  .record-title{
	  font-size: 25px;
	  font-weight: 500;
  }
  .record-name{
	font-size: 20px;
	font-weight: 400;  
  }
  .record-text{
	  padding: 1px;
  }

  .grid-container-record-actions {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: auto auto auto ;
	padding: 10px;
  }
  .grid-item-record-actions {
	background-color: rgba(255, 255, 255, 0.8);
	align-content: center;
  }

  .record-action i{
	  font-size: 30px;
	  color: #333;
	  transition: all ease-in-out 0.3s
  }

  .record-action i:hover{
	font-size: 35px;
	color: #111;
}

.mce-notification.mce-in{
	display: none !important;
}

.lg{
	width: 60%;
}


.form-btn{
	padding: 10px;
	margin: 10px;
}

#img-preview{
	height: 200px;
	width: 300px;
}

.img-preview-container{
	display: flex;
	justify-content: center;
}

#page-container{
	display: grid;
	grid-template-columns: auto;
	
}

.container-center{
	display: flex;
	justify-content: center;
	align-content: center;
}

.input-group{
	margin: 10px;
}
.input{
	padding: 12px 20px;
	margin: 8px 0;
	width: 80%;
	font-size: 20px;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.text-center{
	text-align: center;
}

.btn-primary{
	padding: 10px;
	margin: 5px;
	background: #111;
	color: #fff;
	border-width: 0px;
	font-size: 17px;
	box-shadow: 0px 0px;
	transition: all ease-in 0.1s;
}


.btn-primary:hover{
	padding: 10px;
	margin: 5px;
	background: #fff;
	color:#111;
	border-width: 1px;
	border-color: #111;
	font-size: 17px;
}
#geolocation-display{
	font-size: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
	padding: 5px;
	font-size: 15px;
    position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #111;
    color: white;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-preview-grid{
	display: grid;
	padding: 10px;
	grid-template-columns: auto auto auto;
}

.row{
	display: grid;
	grid-template-rows: auto;
}

.profile-preview-count{
	font-size: 40px;
	margin: 0px;
}

.cardx {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}


.cardx:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}