body
{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#auth{
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	border-radius: 10px;
}



.box h2
{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox
{
	position: relative;
	color: #fff;
}

.box .inputBox a
{
	color:gray;
}

.box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top: -20px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}

.box input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333;
}

.navbar #l-nav li {
	list-style-type: none;
	float: left;
	height: 100%;
}

.navbar ul{
	padding: 0px;
	margin: 0px;
}
.navbar #r-nav li {
	list-style-type: none;
	float: right;
	height: 100%;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
	transition: all ease-in 0.1s
}

.navbar li a:hover {
	background-color:#fff;
	color: #111;
	
}
#app-forms-bg{
	background-image: url('../img/app-bg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}

.btn{
	
}

.records{
	list-style: none;
	display: grid;
	grid-template-columns: auto;
	padding: 20px;
	justify-content: center;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	
	width: 500px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
  }
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
  }

  .image-container {
	display: flex;
	justify-content: center;
  }
  .record-image{
	  height: 100%;
	  width: 100%;
  }
  .record-title{
	  font-size: 25px;
	  font-weight: 500;
  }
  .record-name{
	font-size: 20px;
	font-weight: 400;  
  }
  .record-text{
	  padding: 1px;
  }

  .grid-container-record-actions {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: auto auto auto ;
	padding: 10px;
  }
  .grid-item-record-actions {
	background-color: rgba(255, 255, 255, 0.8);
	align-content: center;
  }

  .record-action i{
	  font-size: 30px;
	  color: #333;
	  transition: all ease-in-out 0.3s
  }

  .record-action i:hover{
	font-size: 35px;
	color: #111;
}

.mce-notification.mce-in{
	display: none !important;
}

.lg{
	width: 60%;
}


.form-btn{
	padding: 10px;
	margin: 10px;
}
